In [1]:
import pandas as pd
import numpy as np

In [2]:
!git clone https://github.com/aviana-michaelj/nemesis-ml.git

Cloning into 'nemesis-ml'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 114 (delta 0), reused 2 (delta 0), pack-reused 109
Receiving objects: 100% (114/114), 2.26 MiB | 1.14 MiB/s, done.
Resolving deltas: 100% (34/34), done.

In [3]:
df = pd.read_csv('nemesis-ml/data/raw/Kaggle/train_sample.csv')
df=df.drop(columns = ['Unnamed: 0'])

In [5]:
df_type = pd.read_csv('nemesis-ml/data/raw/Kaggle/column_type.csv')

In [6]:
df.columns

Index(['Row_ID', 'Household_ID', 'Vehicle', 'Calendar_Year', 'Model_Year',
       'Blind_Make', 'Blind_Model', 'Blind_Submodel', 'Cat1', 'Cat2', 'Cat3',
       'Cat4', 'Cat5', 'Cat6', 'Cat7', 'Cat8', 'Cat9', 'Cat10', 'Cat11',
       'Cat12', 'OrdCat', 'Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6',
       'Var7', 'Var8', 'NVCat', 'NVVar1', 'NVVar2', 'NVVar3', 'NVVar4',
       'Claim_Amount'],
      dtype='object')

In [7]:
df_type

          Variable             Type
0           Row_ID           Delete
1     Household_ID          Nominal
2          Vehicle       Continuous
3    Calendar_Year          Nominal
4       Model_Year          Nominal
5       Blind_Make          Nominal
6      Blind_Model          Nominal
7   Blind_Submodel          Nominal
8             Cat1          Nominal
9             Cat2          Nominal
10            Cat3          Nominal
11            Cat4          Nominal
12            Cat5          Nominal
13            Cat6          Nominal
14            Cat7          Nominal
15            Cat8          Nominal
16            Cat9          Nominal
17           Cat10          Nominal
18           Cat11          Nominal
19           Cat12          Nominal
20          OrdCat          Ordinal
21            Var1       Continuous
22            Var2       Continuous
23            Var3       Continuous
24            Var4       Continuous
25            Var5       Continuous
26            Var6       Continuous
27            Var7       Continuous
28            Var8       Continuous
29           NVCat          Nominal
30          NVVar1       Continuous
31          NVVar2       Continuous
32          NVVar3       Continuous
33          NVVar4       Continuous
34    Claim_Amount  Flag_Continuous

In [8]:
#function to get number of missing values in a column
def get_na_num(column): #input the whole column
    if column.dtype == np.object:
        return column.isnull().sum() + column[column == ''].count() + column[column == '?'].count()
    else:
        return column.isnull().sum()

In [9]:
#function to get number of valid values in a column
def get_valid_num(column): #input the whole column
    return len(column) - get_na_num(column)

In [10]:
#function to get minimum value in a column
def get_min(column): #input the whole column
    return min(column)

In [11]:
#function to get maximum value in a column
def get_max(column): #input the whole column
    return max(column)

In [12]:
#function to get mean in a column
def get_mean(column): #input the whole column
    return column.mean()

In [13]:
#function to get std in a column
def get_std(column): #input the whole column
    return column.std()

In [14]:
#function to get skewness in a column
def get_skew(column): #input the whole column
    return column.skew()

In [15]:
#function to get number of distict values in a column
def get_distinct_num(column): #input the whole column
    return len(column.unique().tolist())

In [16]:
#function to get count of each distict value in a column
def get_distinct_count(column): #input the whole column
    if get_distinct_num(column) > 5:
        print('Number of distict values is larger than 5. We stop updating the number of distinct values')
    else:
        return column.value_counts()

In [17]:
#function to get median in a column
import statistics
def get_median(column):
    if get_distinct_num(column) > 5:
        print('Number of distict values is larger than 5. We do not calculate median')
    else:
        return statistics.median(column)

In [18]:
#function to get mode and count for the mode in a column
def get_mode(column):
    return (column.mode()[0],column[column==column.mode()[0]].count())

In [19]:
#function to check whether a numerical column is continuous or discrete
def check_cont_or_dis(column):
    if get_distinct_num(column) > max(0.0001 * get_valid_num(column), 10):
        return ('continuous')
    else:
        return ('discrete')

In [20]:
# funtion to get column type
def column_type(column):
    return (df_type.loc[df_type['Variable'] == column, 'Type'].iloc[0])

In [21]:
#function to do basic variable screening and create basic statistical report
def Stats_Collection(df,df_type):
    for c in df:
        #exclude Target 
        if (column_type(c) != 'Flag_Continuous' and column_type(c) != 'Flag_Categorical'):
            print('Variable name: ',c)

            #Basic variable screening
            if get_na_num(df[c])/len(df[c]) > 0.5:
                print('More 50% missing values, drop this column\n')
                df = df.drop(columns=c)
                df_type = df_type.drop(index=int(df_type[df_type.Variable == c].index[0]))
                continue
            if (column_type(c) == 'Delete'):
                df = df.drop(columns=c)
                df_type = df_type.drop(index=int(df_type[df_type.Variable == c].index[0]))
                continue
            if (column_type(c) == 'Continuous') and (get_min(df[c]) == get_max(df[c])):
                print('All same value, drop this column\n')
                df = df.drop(columns=c)
                df_type = df_type.drop(index=int(df_type[df_type.Variable == c].index[0]))
                continue
            if (column_type(c) == 'Ordinal' or column_type(c) == 'Nominal') and (get_mode(df[c])[1]/get_valid_num(df[c]) > 0.95):
                print('Mode contains more than 95% cases, drop this column\n')
                df = df.drop(columns=c)
                df_type = df_type.drop(index=int(df_type[df_type.Variable == c].index[0]))
                continue
            if (column_type(c) == 'Nominal') and (get_distinct_num(df[c]) > 100):
                print('More than 100 categories, drop this column\n')
                df = df.drop(columns=c)
                df_type = df_type.drop(index=int(df_type[df_type.Variable == c].index[0]))
                continue

            #Basic statistic report
            print('Variable type: ', column_type(c))
            print ('Number of missing values: ',get_na_num(df[c]))
            print ('Number of valid values: ',get_valid_num(df[c]))
            if column_type(c) == 'Continuous' or column_type(c) == 'Ordinal':
                print('Minimum value: ', get_min(df[c]))
                print('Maximum value: ', get_max(df[c]))
            if column_type(c) == 'Continuous':
                print('Mean: ',get_mean(df[c]))
                print('Standard Deviation: ',get_std(df[c]))
                print('Skewness: ',get_skew(df[c]))
                print('Number of distinct values: ',get_distinct_num(df[c]))
                print('Number of cases for each distinct value: ')
                print(get_distinct_count(df[c]))
            else:
                print('Number of categories: ', get_distinct_num(df[c]))
                print('The counts of each category: ')
                print(get_distinct_count(df[c]))
                print('Mode: ', get_mode(df[c])[0],'Count: ',get_mode(df[c])[1])                
                print()
    return(df,df_type)

In [22]:
d = Stats_Collection(df,df_type)

Variable name:  Row_ID
Variable name:  Household_ID
More than 100 categories, drop this column

Variable name:  Vehicle
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  1
Maximum value:  14
Mean:  2.2438
Standard Deviation:  1.4993369075136003
Skewness:  2.0299344354564077
Number of distinct values:  14
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Calendar_Year
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  2
The counts of each category:
2005    4026
2006     974
Name: Calendar_Year, dtype: int64
Mode:  2005 Count:  4026

Variable name:  Model_Year
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  27
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  2002 Count:  506

Variable name:  Blind_Make
Variable type:  Nominal
Number of missing values:  1
Number of valid values:  4999
Number of categories:  50
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  AJ Count:  857

Variable name:  Blind_Model
More than 100 categories, drop this column

Variable name:  Blind_Submodel
More than 100 categories, drop this column

Variable name:  Cat1
Variable type:  Nominal
Number of missing values:  22
Number of valid values:  4978
Number of categories:  11
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  D Count:  1330

Variable name:  Cat2
Variable type:  Nominal
Number of missing values:  1747
Number of valid values:  3253
Number of categories:  4
The counts of each category:
C    2391
?    1747
A     813
B      49
Name: Cat2, dtype: int64
Mode:  C Count:  2391

Variable name:  Cat3
Variable type:  Nominal
Number of missing values:  2
Number of valid values:  4998
Number of categories:  7
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  A Count:  2942

Variable name:  Cat4
More 50% missing values, drop this column

Variable name:  Cat5
More 50% missing values, drop this column

Variable name:  Cat6
Variable type:  Nominal
Number of missing values:  22
Number of valid values:  4978
Number of categories:  6
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  D Count:  1704

Variable name:  Cat7
More 50% missing values, drop this column

Variable name:  Cat8
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  3
The counts of each category:
A    3282
B    1442
C     276
Name: Cat8, dtype: int64
Mode:  A Count:  3282

Variable name:  Cat9
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  2
The counts of each category:
B    4260
A     740
Name: Cat9, dtype: int64
Mode:  B Count:  4260

Variable name:  Cat10
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  3
The counts of each category:
A    3252
B    1494
C     254
Name: Cat10, dtype: int64
Mode:  A Count:  3252

Variable name:  Cat11
Variable type:  Nominal
Number of missing values:  5
Number of valid values:  4995
Number of categories:  7
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  A Count:  2696

Variable name:  Cat12
Variable type:  Nominal
Number of missing values:  5
Number of valid values:  4995
Number of categories:  7
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  B Count:  1638

Variable name:  OrdCat
Variable type:  Ordinal
Number of missing values:  5
Number of valid values:  4995
Minimum value:  1
Maximum value:  ?
Number of categories:  8
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  4 Count:  2042

Variable name:  Var1
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.0398781
Maximum value:  4.540768099999998
Mean:  0.25377841544
Standard Deviation:  1.1332502752194076
Skewness:  0.9572754895907443
Number of distinct values:  217
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var2
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.4933927
Maximum value:  6.2732167
Mean:  0.10423281040000001
Standard Deviation:  1.0023749727311697
Skewness:  0.4839713082696166
Number of distinct values:  177
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var3
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.5589318
Maximum value:  5.5633254
Mean:  0.21789823768000002
Standard Deviation:  1.1132322902680885
Skewness:  0.24296291598907044
Number of distinct values:  157
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var4
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.5082161
Maximum value:  6.0670294999999985
Mean:  0.11836153422
Standard Deviation:  1.0008283646981053
Skewness:  0.40952744598606666
Number of distinct values:  178
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var5
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -3.0113571
Maximum value:  3.8635409
Mean:  0.24512133112
Standard Deviation:  1.0812419383384797
Skewness:  0.4053987147528178
Number of distinct values:  410
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var6
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.2140672
Maximum value:  3.7748492
Mean:  0.16184747904000002
Standard Deviation:  1.0417496161038815
Skewness:  0.547823892166737
Number of distinct values:  1062
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var7
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -2.3607116
Maximum value:  2.5420461
Mean:  0.1830863781
Standard Deviation:  1.0579853528811307
Skewness:  0.02665654616405958
Number of distinct values:  265
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  Var8
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -1.8678977
Maximum value:  28.5514278
Mean:  0.031118463180000003
Standard Deviation:  1.156573941941638
Skewness:  5.101233949170949
Number of distinct values:  1589
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  NVCat
Variable type:  Nominal
Number of missing values:  0
Number of valid values:  5000
Number of categories:  15
The counts of each category:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Mode:  M Count:  2019

Variable name:  NVVar1
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -0.2315299
Maximum value:  6.627110000000001
Mean:  -0.08445779889999999
Standard Deviation:  0.5594412333708151
Skewness:  4.167846719792849
Number of distinct values:  9
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  NVVar2
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -0.2661168
Maximum value:  8.8830814
Mean:  0.04335701476000005
Standard Deviation:  0.9567237370598799
Skewness:  3.172265712726865
Number of distinct values:  12
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  NVVar3
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -0.2723372000000001
Maximum value:  5.7033172
Mean:  0.011386864219999925
Standard Deviation:  0.9189255840034346
Skewness:  3.2891866042487012
Number of distinct values:  11
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None
Variable name:  NVVar4
Variable type:  Continuous
Number of missing values:  0
Number of valid values:  5000
Minimum value:  -0.2514189
Maximum value:  6.3888025
Mean:  -0.060534660159999996
Standard Deviation:  0.6591526296047524
Skewness:  3.709334666273282
Number of distinct values:  12
Number of cases for each distinct value:
Number of distict values is larger than 5. We stop updating the number of distinct values
None

In [23]:
new_df_type = d[1]

In [24]:
new_df = d[0]

In [25]:
# function to identify outliers in continuous variables
# returns a bool panda series, a lower cutoff value and an upper cutoff value(used in outlier handling)
def outlier_identification(column):
    ori_mean = get_mean(column.dropna())
    ori_std = get_std(column.dropna())
    N_i = []
    X_i = []
    M_i = []
    for i in range(-3, 5):
        lower = ori_mean + (i - 1) * ori_std if i != -3 else -float('inf')
        upper = ori_mean + i * ori_std if i != 4 else float('inf')
        temp1 = column[(column <= upper) & (column > lower)]
        N_i.append(len(temp1))
        X_i.append(get_mean(temp1))
        M_i.append(np.var(temp1) * len(temp1))
    l = -3
    r = 4
    p = 0
    while 1:
        if N_i[l + 3] <= N_i[r + 3]:
            p_current = N_i[l + 3] / get_valid_num(column)
            if p + p_current < 0.05:
                l = l + 1
                p = p + p_current
            else:
                break
        else:
            p_current = N_i[r + 3] / get_valid_num(column)
            if p + p_current < 0.05:
                r = r - 1
                p = p + p_current
            else:
                break
    lower = ori_mean + (l - 1) * ori_std if l != -3 else -float('inf')
    upper = ori_mean + r * ori_std if r != 4 else float('inf')
    temp1 = column[(column <= upper) & (column > lower)]
    x_robust = get_mean(temp1)
    M_robust = 0
    N_sum = 0
    for i in range(l, r + 1):
        A_i = M_i[i + 3] + N_i[i + 3] * (x_robust - X_i[i + 3])**2
        M_robust = M_robust + A_i
        N_sum = N_sum + N_i[i + 3]
    sd_robust = np.sqrt(M_robust / (N_sum - 1))
    result = (column - x_robust < -3 * sd_robust) | (column + x_robust > 3 * sd_robust)
    lower_cutoff_value = x_robust - 3 * sd_robust
    upper_cutoff_value = x_robust + 3 * sd_robust
    return(result, lower_cutoff_value, upper_cutoff_value)
outlier_identification(new_df['Var1'])

(0       False
 1       False
 2       False
 3       False
 4       False
 5       False
 6       False
 7       False
 8       False
 9       False
 10      False
 11      False
 12      False
 13      False
 14      False
 15      False
 16      False
 17      False
 18      False
 19      False
 20      False
 21      False
 22      False
 23      False
 24      False
 25      False
 26      False
 27      False
 28      False
 29      False
         ...
 4970    False
 4971    False
 4972    False
 4973    False
 4974    False
 4975    False
 4976    False
 4977    False
 4978    False
 4979    False
 4980    False
 4981    False
 4982    False
 4983    False
 4984    False
 4985    False
 4986    False
 4987    False
 4988     True
 4989     True
 4990    False
 4991    False
 4992    False
 4993    False
 4994    False
 4995    False
 4996    False
 4997     True
 4998    False
 4999    False
 Name: Var1, Length: 5000, dtype: bool, -2.8276437587410994, 3.10881280749214)

In [26]:
# function to trim outliers to cutoff values
def outlier_trim(df,column):
    (flag, lower, upper) = outlier_identification(column)
    df.loc[flag, column.name] = pd.Series(map(lambda x : (lower if x <= lower else upper), column[flag]))

In [27]:
# function to set outliers to missing values
def outlier_toNone(df,column):
    (flag, lower, upper) = outlier_identification(column)
    df.loc[flag, column.name] = None

In [28]:
print(sum(new_df['Var1'] > 3.1088128074921366))
print(sum(new_df['Var1'] < -2.827643758741096))
for c in new_df:
    if column_type(c) == 'Continuous':
        outlier_trim(new_df,new_df[c])
print(sum(new_df['Var1'] > 3.1088128074921366))
print(sum(new_df['Var1'] < -2.827643758741096))

124
0
0
0

In [29]:
# function to fill missing value and update statistic
def fill_missing_value(mydata, column_type):
    # filling missing value and updata statistic
    column_list = mydata.columns.values.tolist()
    typelist = list(column_type.iloc[:,1])
    i = 0
    for typ in typelist:
        column_data = mydata[column_list[i]].dropna()
        if (typ == 'Continuous'):
            mean_value = column_data.mean() # calculate mean
            mydata[column_list[i]] = mydata[column_list[i]].fillna(mean_value) # fill missing value with mean
            cont_sd = mydata[column_list[i]].std() # calculate standard deviation
            cont_skew = mydata[column_list[i]].skew() # calculate skewness
            print('')
            print('Column:', column_list[i])
            print('Column type: continuous')
            print('Mean:', mean_value)
            print('Standard deviation:', cont_sd)
            print('Skewness:', cont_skew)
            print('The number of missing values:', get_na_num(mydata[column_list[i]]))
            print('The number of valid values:', get_valid_num(mydata[column_list[i]]))
        elif (typ == 'Ordinal' and mydata[column_list[i]].dtype != 'object'):
            num_median = column_data.median() # calculate median 
            mydata[column_list[i]] = mydata[column_list[i]].fillna(num_median) # fill missing value with median
            count_median_num = mydata[column_list[i]][mydata[column_list[i]] == num_median].count() # count the the number of cases in the median category
            print('')
            print('Column:', column_list[i])
            print('Column type: num_ordinal')
            print('Median:', num_median)
            print('The number of cases in the median category:', count_median_num)
            print('The number of missing values:', get_na_num(mydata[column_list[i]]))
            print('The number of valid values:', get_valid_num(mydata[column_list[i]]))
        elif (typ == 'Ordinal' and mydata[column_list[i]].dtype == 'object'):
            mode_value = column_data.mode()[0] # calculate mode
            mydata[column_list[i]] = mydata[column_list[i]].fillna(mode_value) # fill missing valye with mode
            count_mode = mydata[column_list[i]][mydata[column_list[i]] == mode_value].count() # count the the number of cases in the modal category
            print('')
            print('Column:', column_list[i])
            print('Column type: cat_ordinal')
            print('Mode:', mode_value)
            print('The number of cases in the modal category:', count_mode)
            print('The number of missing values:', get_na_num(mydata[column_list[i]]))
            print('The number of valid values:', get_valid_num(mydata[column_list[i]]))
        else:
            mode_value = column_data.mode()[0] # calculate mode
            mydata[column_list[i]] = mydata[column_list[i]].fillna(mode_value) # fill missing valye with mode
            count_mode = mydata[column_list[i]][mydata[column_list[i]] == mode_value].count() # count the the number of cases in the modal category
            print('')
            print('Column:', column_list[i])
            print('Column type: nominal')
            print('Mode:', mode_value)
            print('The number of cases in the modal category:', count_mode)
            print('The number of missing values:', get_na_num(mydata[column_list[i]]))
            print('The number of valid values:', get_valid_num(mydata[column_list[i]]))
        i = i + 1
    # add column type at the last row
    print('add column type at the last row:')
    return (mydata)

In [30]:
new_df = new_df.replace('?',np.NaN)
fill_missing_value(new_df,new_df_type)

Column: Vehicle
Column type: continuous
Mean: 3.183613197220352
Standard deviation: 1.9279074114234616
Skewness: 0.022769597720921908
The number of missing values: 0
The number of valid values: 5000

Column: Calendar_Year
Column type: nominal
Mode: 2005
The number of cases in the modal category: 4026
The number of missing values: 0
The number of valid values: 5000

Column: Model_Year
Column type: nominal
Mode: 2002
The number of cases in the modal category: 506
The number of missing values: 0
The number of valid values: 5000

Column: Blind_Make
Column type: nominal
Mode: AJ
The number of cases in the modal category: 858
The number of missing values: 0
The number of valid values: 5000

Column: Cat1
Column type: nominal
Mode: D
The number of cases in the modal category: 1352
The number of missing values: 0
The number of valid values: 5000

Column: Cat2
Column type: nominal
Mode: C
The number of cases in the modal category: 4138
The number of missing values: 0
The number of valid values: 5000

Column: Cat3
Column type: nominal
Mode: A
The number of cases in the modal category: 2944
The number of missing values: 0
The number of valid values: 5000

Column: Cat6
Column type: nominal
Mode: D
The number of cases in the modal category: 1726
The number of missing values: 0
The number of valid values: 5000

Column: Cat8
Column type: nominal
Mode: A
The number of cases in the modal category: 3282
The number of missing values: 0
The number of valid values: 5000

Column: Cat9
Column type: nominal
Mode: B
The number of cases in the modal category: 4260
The number of missing values: 0
The number of valid values: 5000

Column: Cat10
Column type: nominal
Mode: A
The number of cases in the modal category: 3252
The number of missing values: 0
The number of valid values: 5000

Column: Cat11
Column type: nominal
Mode: A
The number of cases in the modal category: 2701
The number of missing values: 0
The number of valid values: 5000

Column: Cat12
Column type: nominal
Mode: B
The number of cases in the modal category: 1643
The number of missing values: 0
The number of valid values: 5000

Column: OrdCat
Column type: cat_ordinal
Mode: 4
The number of cases in the modal category: 2047
The number of missing values: 0
The number of valid values: 5000

Column: Var1
Column type: continuous
Mean: 0.17069363763595322
Standard deviation: 1.0088763409558197
Skewness: 0.7875944289270956
The number of missing values: 0
The number of valid values: 5000

Column: Var2
Column type: continuous
Mean: 0.09730061813263874
Standard deviation: 0.9880031344766687
Skewness: 0.3943559745229233
The number of missing values: 0
The number of valid values: 5000

Column: Var3
Column type: continuous
Mean: 0.2059405938239423
Standard deviation: 1.087792749269929
Skewness: 0.08705874883962533
The number of missing values: 0
The number of valid values: 5000

Column: Var4
Column type: continuous
Mean: 0.11063602513529767
Standard deviation: 0.986117287660719
Skewness: 0.32592503546250934
The number of missing values: 0
The number of valid values: 5000

Column: Var5
Column type: continuous
Mean: 0.20084198734460976
Standard deviation: 1.0127025922515012
Skewness: 0.3125210569187539
The number of missing values: 0
The number of valid values: 5000

Column: Var6
Column type: continuous
Mean: 0.13857070242681957
Standard deviation: 1.0050611620910739
Skewness: 0.44145002868721694
The number of missing values: 0
The number of valid values: 5000

Column: Var7
Column type: continuous
Mean: 0.1830863781
Standard deviation: 1.0579853528811307
Skewness: 0.02665654616405958
The number of missing values: 0
The number of valid values: 5000

Column: Var8
Column type: continuous
Mean: -0.09334986866168643
Standard deviation: 0.7859930047622602
Skewness: 0.6914680073433574
The number of missing values: 0
The number of valid values: 5000

Column: NVCat
Column type: nominal
Mode: M
The number of cases in the modal category: 2019
The number of missing values: 0
The number of valid values: 5000

Column: NVVar1
Column type: continuous
Mean: -0.08445779889999999
Standard deviation: 0.5594412333708151
Skewness: 4.167846719792849
The number of missing values: 0
The number of valid values: 5000

Column: NVVar2
Column type: continuous
Mean: 0.04335701476000005
Standard deviation: 0.9567237370598799
Skewness: 3.172265712726865
The number of missing values: 0
The number of valid values: 5000

Column: NVVar3
Column type: continuous
Mean: 0.011386864219999925
Standard deviation: 0.9189255840034346
Skewness: 3.2891866042487012
The number of missing values: 0
The number of valid values: 5000

Column: NVVar4
Column type: continuous
Mean: -0.060534660159999996
Standard deviation: 0.6591526296047524
Skewness: 3.709334666273282
The number of missing values: 0
The number of valid values: 5000

Column: Claim_Amount
Column type: nominal
Mode: 0.0
The number of cases in the modal category: 4945
The number of missing values: 0
The number of valid values: 5000
add column type at the last row:

,Vehicle,Calendar_Year,Model_Year,Blind_Make,Cat1,Cat2,Cat3,Cat6,Cat8,Cat9,...,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
0,5.411107,2005,2005,K,D,C,F,C,C,A,...,1.008912,0.261040,0.907793,-0.077998,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
1,5.411107,2005,2003,Q,B,C,A,E,A,B,...,1.240851,0.432987,-0.726459,0.204785,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
2,1.000000,2005,1998,AR,B,C,A,C,A,B,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.231530,-0.266117,-0.272337,-0.251419,0.0
3,1.000000,2006,1998,AR,B,C,A,C,A,B,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4,5.411107,2005,2001,D,J,C,B,D,A,B,...,0.812656,2.112691,1.534462,2.347260,F,-0.231530,-0.266117,-0.272337,-0.251419,0.0
5,5.411107,2006,2001,D,J,C,B,D,A,B,...,0.812656,2.112691,1.534462,2.347260,F,-0.231530,-0.266117,-0.272337,-0.251419,0.0
6,1.000000,2006,2001,AJ,G,C,A,E,A,B,...,0.580718,0.551128,0.416289,-0.024395,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
7,5.411107,2006,2002,AQ,B,C,B,D,B,A,...,0.527193,-0.023200,-0.701884,0.226663,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
8,5.411107,2005,2002,AQ,B,C,B,D,B,A,...,0.527193,-0.023200,-0.701884,0.226663,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
9,1.000000,2005,1995,BW,D,C,E,D,A,B,...,0.176312,0.283264,0.969232,-0.792339,N,2.054683,-0.266117,-0.272337,-0.251419,0.0
10,1.000000,2006,1995,BW,D,C,E,D,A,B,...,0.176312,0.283264,0.969232,-0.792339,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
11,5.411107,2005,2003,BW,I,C,F,D,B,A,...,0.342832,1.451805,1.694201,1.242493,N,2.054683,-0.266117,-0.272337,-0.251419,0.0
12,5.411107,2006,2003,BW,I,C,F,D,B,A,...,0.342832,1.451805,1.694201,1.242493,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
13,5.411107,2005,2004,Y,F,C,A,C,B,B,...,-0.608711,-1.134425,-1.193388,-0.732172,N,2.054683,-0.266117,-0.272337,-0.251419,0.0
14,5.411107,2006,2004,Y,F,C,A,C,B,B,...,-0.608711,-1.134425,-1.193388,-0.732172,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
15,1.000000,2005,1998,BH,I,C,A,B,A,B,...,-0.763337,-0.101570,0.354851,0.596961,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
16,1.000000,2006,1998,BH,I,C,A,B,A,B,...,-0.763337,-0.101570,0.354851,0.596961,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
17,5.411107,2005,2003,BW,I,C,F,D,B,A,...,0.342832,1.451805,1.694201,1.242493,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
18,5.411107,2006,2003,BW,I,C,F,D,B,A,...,0.342832,1.451805,1.694201,1.242493,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
19,1.000000,2005,2001,BW,I,C,B,D,B,B,...,0.461775,1.451805,1.411586,0.977104,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
20,5.411107,2005,1999,BW,H,C,A,D,B,B,...,1.639309,1.452974,2.431458,-0.103706,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
21,5.411107,2005,2005,BP,I,A,B,C,A,A,...,-1.179637,-0.423241,0.490015,-0.461970,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
22,5.411107,2005,2005,K,I,C,F,B,C,A,...,-0.126992,0.834198,0.711192,0.810279,N,-0.231530,-0.266117,-0.272337,-0.251419,0.0
23,1.000000,2005,1998,K,I,A,A,B,A,B,...,-0.739548,-0.175262,0.711192,0.060166,J,1.483130,-0.266117,-0.272337,1.408637,0.0
24,1.000000,2006,1998,K,I,A,A,B,A,B,...,-0.739548,-0.175262,0.711192,0.060166,J,1.483130,-0.266117,-0.272337,1.408637,0.0
25,5.411107,2005,1993,K,C,C,A,B,A,B,...,-0.799020,-0.438447,-1.537442,1.337010,J,1.483130,-0.266117,-0.272337,1.408637,0.0
26,5.411107,2006,2003,N,A,C,B,B,A,A,...,-0.531398,-0.199826,-0.972211,0.737532,J,1.483130,-0.266117,-0.272337,1.408637,0.0
27,5.411107,2005,2003,N,A,C,B,B,A,A,...,-0.531398,-0.199826,-0.972211,0.737532,J,1.483130,-0.266117,-0.272337,1.408637,0.0
28,5.411107,2006,2005,P,J,C,B,B,B,A,...,-0.293512,0.319525,0.416289,1.479221,J,1.483130,-0.266117,-0.272337,1.408637,0.0
29,5.411107,2005,2005,P,J,C,B,B,B,A,...,-0.293512,0.319525,0.416289,1.479221,J,1.483130,-0.266117,-0.272337,1.408637,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,3.183613,2006,2002,K,I,C,F,D,C,A,...,0.759132,1.968817,1.387010,1.356701,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4971,3.183613,2005,2000,BN,J,C,C,E,A,B,...,-0.394614,0.138571,1.509886,-0.093350,E,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4972,3.183613,2006,2000,BN,J,C,C,E,A,B,...,-0.394614,0.138571,1.509886,-0.093350,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4973,1.000000,2005,2001,L,F,C,A,C,B,B,...,-0.543292,-1.147291,-1.193388,-0.807107,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4974,1.000000,2006,2001,L,F,C,A,C,B,B,...,-0.543292,-1.147291,-1.193388,-0.807107,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4975,1.000000,2006,2004,Z,I,C,F,D,B,B,...,0.979176,1.407356,1.571325,0.600134,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4976,3.183613,2005,2004,Z,I,C,F,D,B,B,...,0.979176,1.407356,1.571325,0.600134,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4977,1.000000,2005,2000,AH,D,C,A,D,B,B,...,0.717502,0.431817,1.042957,-0.472362,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4978,1.000000,2006,2000,AH,D,C,A,D,B,B,...,0.717502,0.431817,1.042957,-0.472362,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4979,3.183613,2005,2005,AJ,D,C,A,D,A,B,...,1.954508,1.858864,1.325572,0.840362,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4980,3.183613,2006,2005,AJ,D,C,A,D,A,B,...,1.954508,1.858864,1.325572,0.840362,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4981,3.183613,2006,2001,AO,F,C,A,C,A,B,...,-0.977434,-1.382403,-0.935349,-0.574645,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4982,3.183613,2005,2002,BW,I,C,B,E,B,B,...,1.674992,1.552400,1.608187,1.431416,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4983,3.183613,2006,2002,BW,I,C,B,E,B,B,...,1.674992,1.552400,1.608187,1.431416,M,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4984,3.183613,2006,1996,AU,F,C,A,C,A,B,...,-0.828755,-0.982362,-1.439141,-0.146478,L,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4985,3.183613,2005,1996,AU,F,C,A,C,A,B,...,-0.828755,-0.982362,-1.439141,-0.146478,L,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4986,1.000000,2005,1994,AZ,E,C,E,C,A,B,...,-1.126113,-1.130915,-0.886198,-0.690056,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4987,1.000000,2006,1994,AZ,E,C,E,C,A,B,...,-1.126113,-1.130915,-0.886198,-0.690056,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4988,1.000000,2005,1996,BO,D,C,E,E,A,B,...,0.200842,2.117370,1.239559,-0.060933,L,-0.231530,4.308482,-0.272337,-0.251419,0.0
4989,1.000000,2006,1996,BO,D,C,E,E,A,B,...,0.200842,2.117370,1.239559,-0.060933,L,-0.231530,4.308482,-0.272337,-0.251419,0.0
4990,3.183613,2005,1999,BV,B,C,A,B,B,B,...,-0.263777,-0.595188,-1.009074,-0.427183,L,-0.231530,4.308482,-0.272337,-0.251419,0.0
4991,3.183613,2006,1999,BV,B,C,A,B,B,B,...,-0.263777,-0.595188,-1.009074,-0.427183,L,-0.231530,4.308482,-0.272337,-0.251419,0.0
4992,1.000000,2005,1999,AJ,I,C,A,B,A,B,...,-0.025891,0.379180,0.612891,0.072418,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4993,1.000000,2006,1999,AJ,I,C,A,B,A,B,...,-0.025891,0.379180,0.612891,0.072418,O,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4994,3.183613,2006,2006,L,B,C,A,D,B,A,...,0.426092,-0.128474,-0.837048,0.071324,F,-0.231530,-0.266117,-0.272337,-0.251419,0.0
4995,3.183613,2006,1985,BW,D,C,C,D,A,B,...,-0.002102,-0.191638,0.870931,-1.362936,N,-0.231530,2.783616,-0.272337,-0.251419,0.0
4996,3.183613,2005,1985,BW,D,C,C,D,A,B,...,-0.002102,-0.191638,0.870931,-1.362936,N,-0.231530,2.783616,-0.272337,-0.251419,0.0
4997,3.183613,2006,1996,BO,D,C,E,E,A,B,...,0.200842,2.117370,1.239559,-0.060933,N,-0.231530,2.783616,-0.272337,-0.251419,0.0
4998,3.183613,2006,2006,BP,B,A,B,F,A,B,...,-1.441311,-1.384742,-0.591295,-0.948225,N,-0.231530,2.783616,-0.272337,-0.251419,0.0
4999,3.183613,2005,2005,AR,C,C,B,B,A,A,...,-1.001222,-0.624431,-1.217964,0.331682,N,-0.231530,2.783616,-0.272337,-0.251419,0.0

In [44]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(df_variable)
X_pca=pca.transform(df_variable) 
PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
svd_solver='auto', tol=0.0, whiten=False)
print(pca.explained_variance_ratio_)

[0.68662931 0.16399365]

In [48]:
X_pca = pd.DataFrame(X_pca)

In [49]:
X_pca

             0         1
0    -6.009852  0.522930
1    -3.927077  0.226881
2     1.972014 -3.424450
3     1.964676 -3.422812
4    -2.714973  3.364158
5    -2.722312  3.365796
6    -1.931669  0.578892
7    -2.759945 -0.723206
8    -2.752607 -0.724843
9     4.183368  1.005155
10    4.166171  0.985106
11   -4.380507  1.954803
12   -4.397705  1.934755
13   -4.137567 -3.641341
14   -4.154765 -3.661389
15    1.338673 -1.163591
16    1.331335 -1.161954
17   -4.435016  2.063025
18   -4.442354  2.064663
19   -2.447566  2.350473
20   -0.475105  3.658346
21   -5.403665 -2.683374
22   -5.958059 -0.350479
23    1.332137 -1.149892
24    1.324799 -1.148254
25    5.911820  0.337708
26   -3.919612 -0.913644
27   -3.912274 -0.915282
28   -5.914472 -0.913899
29   -5.907134 -0.915537
..         ...       ...
970   2.093890  1.001318
971  -2.103212  1.255860
972  -1.756136  5.860988
973   2.048028  1.002260
974  14.985172  2.979802
975  -0.387746  3.357466
976  -2.500361 -1.676632
977   7.747138  3.828116
978  -3.710802 -1.356850
979  -5.610950  3.464974
980  -4.397488  2.206053
981   8.310751 -0.540247
982   4.212073 -0.470665
983   4.016424  1.345594
984  -0.644015 -0.841942
985   2.328275  5.214469
986   5.805665 -2.457344
987   5.471540 -0.797025
988   5.640649 -1.863563
989  10.863362  2.496046
990  -1.470457 -1.692049
991  -4.224910  2.279098
992   2.737298 -2.574534
993  -3.437379 -2.216924
994   1.765941 -3.054309
995   3.440675 -0.723392
996   2.264207 -0.332562
997   4.645247  1.582252
998  -1.889077  0.720443
999  -4.550731  3.366113

[1000 rows x 2 columns]